<h2>MyTracker</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <fieldset id="usersignin">
    <legend>Sing Up</legend>
    <ul>
      <li>
        <%= f.label :first_name %>
        <%= f.fname_field :first_name %>
      </li>

      <li>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </li>

      <li>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </li>

      <li>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </li>
    </ul>
  </fieldset>
  <div><%= f.submit "Sign up" %></div>
<% end %>

<div class="clear"><%= render "devise/shared/links" %></div>
