<h1>My Tracker</h1>
<% if user_signed_in? %>
  <h5><%= link_to('Log out', destroy_user_session_url,
                  :method => :delete,
                  :confirm => "Are you sure you want to log out?") %>
  </h5>
<% end %>

<%= link_to('Add Disc', new_disc_url) %>

<% if !flash.empty? %>
  <p><%= flash.note %></p>
  <p><%= flash.alert %></p>
 <% end %>

<table>

  <tr>
    <th>Edit</th>
    <th>DiscID</th>
    <th>Name</th>
    <th>Type</th>
    <th>Brand</th>
    <th>Plastic</th>
    <th>Color</th>
    <th>Stability</th>
    <th>Weight</th>
    <th>Level</th>
  </tr>

  <%# @mytrackers.each do |mytracker| %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <%# end %>
</table>
<%= link_to('Add Disc', new_mytracker_url) %>



