<h2>MyTracker</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset id="usersignin">
    <legend>Sign In</legend>
    <ul>
      <li>
        <%= f.label :playerid %>
        <%= f.text_field :playerid %>
      </li>

      <li>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </li>
</ul>
    <div class="clear">
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        <% end -%>
    </div>

  </fieldset>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<div class = "clear"><%= render "devise/shared/links" %></div>
