<%= form_for(@disc) do |f| %>
  <% if @disc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disc.errors.count, "error") %> prohibited this disc from being saved:</h2>

      <ul>
        <% @disc.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Add Disc</legend>
    <ul>
      <li>
        <label for="name">Name:</label>
        <%= select("disc", "name", DiscName.all.collect { |n| [n.name, n.id]}, {:include_blank => 'Enter disc name'},{:selected => 'Enter disc name'}) %>
      </li>

      <li>
        <label for="disctype">Type:</label>
        <%= select("disc", "disc_type", DiscType.all.collect {|t| [t.disc_type, t.id]}, {:include_blank => 'Enter disc type'},{:selected => 'Enter disc type'}) %>
      </li>

      <li>
        <label for="brand">Brand:</label>
        <%= select("disc", "brand", DiscBrand.all.collect {|b| [b.brand, b.id]}, {:include_blank => 'Enter disc brand'},{:selected => 'Enter disc brand'}) %>
      </li>

      <li>
        <label for="plastic">Plastic:</label>
        <%= select("disc", "plastic", DiscPlastic.all.collect { |p| [p.plastic, p.id]}, {:include_blank => 'Enter disc plastic'}, {:selected => 'Enter discplastic'}) %>
      </li>

      <li>
        <label for="color">Color:</label>
        <%= select("disc", "color", DiscColor.all.collect {|c| [c.color, c.id]},{:include_blank => 'Enter Disc Color'},{:selected => 'Enter disccolor'}) %>
      </li>

      <li>
        <label for="stability">Stability:</label>
        <%= select("disc", "stability", DiscStability.all.collect {|s| [s.stability, s.id]}, {:include_blank => 'Enter disc stability'},{:selected => 'Enter disc stability'} ) %>
      </li>

      <li>
        <label for="weight">Weight:</label>
        <%= select("disc", "weight", DiscWeight.all.collect {|w| [w.weight, w.id]}, {:include_blank => 'Enter disc weight'},{:selected => 'Enter disc weight'}) %>
      </li>

      <li>
        <label for="level">Level:</label>
        <%# select 'disc', 'level', options_from_collection_for_select(@disc_level, 'id','level') %>
        <%= select("disc", "level", DiscLevel.all.collect {|l| [l.level, l.id]}, {:include_blank => 'Enter disc level'}, {:selected => 'Enter disc level'})  %>
      </li>
    </ul>

  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
