<%= form_for(@disc) do |f| %>
  <% if @disc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disc.errors.count, "error") %> prohibited this disc from being saved:</h2>

      <ul>
        <% @disc.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Add Disc</legend>
    <%= f.hidden_field(:discid, :value => '123456')%>
    <%= f.hidden_field(:playerid, :value => current_user.id)%>
     <ul class="add_disc">
      <li>
        <label for="name">Name:</label>

        <%= collection_select(:disc, :name, DiscName.order('name ASC').all, :id, :name) %>
      </li>

      <li>
        <label for="style">Style:</label>
        <%= collection_select(:disc, :style, DiscStyle.order('style ASC').all, :id, :style) %>
     </li>

      <li>
        <label for="brand">Brand:</label>
        <%= collection_select(:disc, :brand, DiscBrand.order('brand ASC').all, :id, :brand) %>
      </li>

      <li>
        <label for="plastic">Plastic:</label>
        <%= collection_select(:disc, :plastic, DiscPlastic.order('plastic ASC').all, :id, :plastic) %>
      </li>

      <li>
        <label for="color">Color:</label>
        <%= collection_select(:disc, :color, DiscColor.order('color ASC').all, :id, :color) %>
      </li>

      <li>
        <label for="stability">Stability:</label>
        <%= collection_select(:disc, :stability, DiscStability.order('stability ASC').all, :id, :stability) %>
      </li>

      <li>
        <label for="weight">Weight:</label>
        <%= collection_select(:disc, :weight, DiscWeight.order('weight ASC').all, :id, :weight) %>
      </li>

      <li>
        <label for="level">Level:</label>
         <%= collection_select(:disc, :level, DiscLevel.order('level ASC').all, :id, :level)  %>
      </li>
    </ul>

  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

