<h2>My Tracker</h2>

<div id="output">
  <%= @output %>
</div>
<%= link_to('Log out', destroy_user_session_url,
                  :method => :delete,
                  :confirm => "Are you sure you want to log out?") %>
| <%= link_to 'Add Disc', new_disc_path %> | <%= link_to 'Back', discs_path %>

</br>

<table>
  <tr>
    <th>Edit</th>
    <th>Remove</th>
    <th>DiscID</th>
    <th>Name</th>
    <th>Style</th>
    <th>Brand</th>
    <th>Plastic</th>
    <th>Color</th>
    <th>Stability</th>
    <th>Weight</th>
    <th>Level</th>
  </tr>

  <% i = 0 %>
<% @discs.each do |disc| %>
  <% j = i%2

    if j == 0
     j = "even"
   else
     j = "odd"
    end

    i = i+1
   %>
  <tr class = "<%= j %>">
    <!--<td><%# link_to 'Show', disc %></td> -->
    <td><%= link_to 'Edit', edit_disc_path(disc) %></td>
    <td><%= link_to 'Remove', disc, method: :update, data: { confirm: 'Are you sure?' } %></td>
    <td><%= disc.disc_id %>
    <td><%= disc.disc_name.name %>
    <td><%= disc.disc_color.color %>
    <td><%= disc.disc_brand.brand %>
    <td><%= disc.disc_plastic.plastic%>
    <td><%= disc.disc_color.color %>
    <td><%= disc.disc_stability.stability%>
    <td><%= disc.disc_weight.weight%>
    <td><%= disc.disc_level.level%>
  </tr>
<% end %>
</table>

<br />

<%= link_to('Log out', destroy_user_session_url,
                  :method => :delete,
                  :confirm => "Are you sure you want to log out?") %>
| <%= link_to 'Add Disc', new_disc_path %> | <%= link_to 'Back', discs_path %>

