<h1>My Tracker</h1>

<div id="output">
  <%= @output %>
</div>
<%= link_to('Log out', destroy_user_session_url,
                  :method => :delete,
                  :confirm => "Are you sure you want to log out?") %>
| <%= link_to 'Add Disc', new_disc_path %>

</br>

<table border=1>
  <tr>
    <th>Edit</th>
    <th>Remove</th>
    <th>DiscID</th>
    <th>Name</th>
    <th>Style</th>
    <th>Brand</th>
    <th>Plastic</th>
    <th>Color</th>
    <th>Stability</th>
    <th>Weight</th>
    <th>Level</th>
  </tr>

<% @discs.each do |disc| %>
  <tr>
    <!--<td><%# link_to 'Show', disc %></td> -->
    <td><%= link_to 'Edit', edit_disc_path(disc) %></td>
    <td><%= link_to 'Remove', disc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= disc[:discid]%>
    <td><%= disc.name %>
    <td><%= disc.color %>
    <td><%= disc.brand%>
    <td><%= disc.plastic%>
    <td><%= disc.color %>
    <td><%= disc.stability%>
    <td><%= disc.weight%>
    <td><%= disc.level%>
  </tr>
<% end %>
</table>

<br />

<%= link_to('Log out', destroy_user_session_url,
                  :method => :delete,
                  :confirm => "Are you sure you want to log out?") %>
| <%= link_to 'Add Disc', new_disc_path %>

