<!DOCTYPE html>
<html>
  <head>
    <title>DiscTracker</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <wrapper>
      <header><h1>Disc Tracker</h1></header>
      <nav id = "top">
        <ul>
          <li><%= link_to('Home', root_url)%></li>
          <li> Courses</li>
          <li>How To Play</li>
          <li><%= link_to('My Tracker', mytrackers_url)%></li>
        </ul>
      </nav>

      <section id="content">
        <%= yield %>
      </section>
    </wrapper>
  </body>
</html>


