<!DOCTYPE html>
<html>

  <head>
    <title>DiscTracker</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header id="logo"><a href=""><h1>Disc Tracker</h1></a></header>
    <div id="wrapper">
      <nav>
        <ul>
          <li><%= link_to('Home', root_url)%>
            <ul>
              <li><%= link_to('Log out', destroy_user_session_url,
                  :method => :delete,
                  :confirm => "Are you sure you want to log out?") %></li>
             </ul>
          </li>
          <li><%= link_to('Courses','/courses') %></li>
          <li><%= link_to('How To Play', '/rules') %>
            <ul>
              <li><%= link_to('Disc Styles', '/discstyle') %></li>
              <li><%= link_to('Throwing', '/throwingstyle') %></li>
              <li><%= link_to('Components', '/coursecomponents') %></li>
              <li><%= link_to('Scoring', '/scoring') %></li>
             </ul>
          </li>
          <li><%= link_to('My Tracker', discs_url)%>
            <ul>
              <li><%= link_to 'Add Disc', new_disc_path %></li>
              <li><%= link_to('Log out', destroy_user_session_url,
                  :method => :delete,
                  :confirm => "Are you sure you want to log out?") %></li>
              </ul>
          </li>
          <li><%= link_to('Credits', '/credits')%></li>
        </ul>
      </nav>

      <section id="content">
        <%= yield %>
      </section>
    </wrapper>
  </body>


</html>


